<ul>
<li>{{title}}</li>
<li>Prep Time: {{cook_time}}</li>
<li>Serves: {{servings}}</li>
<li>Ingredients:<br>{{ingredients}}</li>
<li>Directions:<br>{{directions}}</li>
<li>Submitted By: {{author}}</li>
<li>{{thumbs_up}} | {{thumbs_down}}</li>
</ul>